.navbar{
    margin: 60px 60px 30px 60px;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
}


.mainlogo{
    object-fit: contain;
    padding-right: 90px;
}

.navtext{
    
    gap: 32px;
    display: inline-flex;
    
}

.Cart_icon{
    object-fit: contain;
    display: inline-flex;
    margin-left: 410px;
}

.profile_icon{
    object-fit: contain;
    display: inline-flex;
    margin-left: 32px;
    
}

.searchbar{
    margin-left: 230px;
}

.slider{
    margin-left: 60px;
    margin-top: 90px;
    object-fit: contain;
}