@media (min-width: 992px){
    .navbar-header{
        margin-left: 400px;
    }
}

@media (min-width: 1400px){
.navbar-header {
    margin-left: 1105px;
}
}

.slider{
    margin-left: 30px;
    margin-top: 90px;
    margin-right: 60px;
    object-fit: contain;
}

.slidertext{
    display: inline-flex;
    gap: 280px;
}

.sliderprice{
    display: inline-flex;
    gap: 370px;
}

.nextslider{
    display: inline-flex;
    object-fit: contain;
    align-items: center;
    margin-left: 30px;
    margin-top: 60px;
    width: 213px;
    border: none;
    border-radius: 8px;
    background-color: #D9D9D9;       
}

.slider2{
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 60px;
    object-fit: contain;
}

.slidertext2{
    display: inline-flex;
    gap: 270px;
}

.sliderprice2{
    display: inline-flex;
    gap: 370px;
}
